* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 15vh;
}

.logo {
    max-width: 180px;
}

.logo img:hover {
    transition: .2s ease;
    transform: scale(1.05);
}

main {
    min-height: 85vh;
}

.slogan {
    font-size: 6vmax;
    letter-spacing: 1px;
}

.slogan strong {
    font-weight: 500;
    text-decoration: underline solid #ffc107;
}

.img-main {
    max-width: 100%;
}